@import "reset.css";

:root {
  --main-color: #9b51e0;
}

#app {
  height: calc(100vh -80px);
  width: 100%;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  z-index: 9000;
  transition: all ease-out 1s;
}

.intro img {
  width: 134px;
  height: 63px;
}
